{% extends "./base.html" %}
{% load static %}

{% block head %}
{% endblock %}



 {% block body %}
 <div class="container mt-3">
    <div class="row">
      <div class="col-md4 offset-md-4">
        <div class="registro">
          <form method="POST" id="registro" class="card card-body">
            <h1 class="text-center">Registro de usuario</h1>
            {{error}}
            {% csrf_token %}
            
            <div class="mb-3">
              <label for="username">Usuario:</label>
              <input type="text" name="username" id="username"
              class="form-control"placeholder="Escriba su usuario">
            </div>
    
            <div class="mb-3">
              <label for="password1">Contraseña:</label>
              <input type="password" name="password1" id="password1"
              class="form-control"placeholder="Escriba su contraseña">
            </div>
    
            <div class="mb-3">
              <label for="password2">Confirme su contraseña:</label>
              <input type="password" name="password2" id="password2"
              class="form-control"placeholder="Confirme su contraseña">
            </div>
    
            <button class="btn btn-primary">
              Registrarse
            </button>
    
          </form>
  
          <div class="position-fixed bottom-0 end-0 p-3">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Mensaje</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
              </div>
              <div class="toast-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% endblock %}

